{% extends 'base.html.twig' %}

{% block title %}Planning des tâches{% endblock %}

{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
{% endblock %}

{% block body %}
{{include("navbar.html.twig")}}
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
</style>


<style>
#calendrier{
    width:90%;
    margin:3rem  auto;
    padding: 2rem;
    border-radius: 1rem;

}

*{
    font-family: 'Poppins', sans-serif;
}


.fc-event-main{
    background:#E4E4E4 !important;
    color:#313635 !important;
}

.fc-event{
    background:#D8D8D8 !important;
    color:#313635 !important;
    border-color: #313635 !important;
}
/* Styles pour les événements */
.fc-event::hover {
    background-color: #FFCECE !important;
    border-color: #ea5b0c !important;
    color: white !important;
}


/* Styles pour les en-têtes de jour */
.fc-day-header {
    background-color: #313635 !important;
    color: white !important;
    font-weight: bold !important;
}

/* Styles pour les boutons du header */
.fc-header-toolbar button {
    border:none !important;
    font-weight:thin !important;
    margin-bottom:2rem !important; 
    
}

.fc-header-toolbar{
    padding-top:2rem !important;
    border-radius: 0.3rem;
    padding-bottom:-1rem !important;
}


{# Lundi mardi .. / Date du jour #}
.fc-list-day-side-text, .fc-list-day-text{
    color:white !important;
    text-decoration:none !important;
}

.fc-col-header-cell-cushion{
    color:#313131 !important;
    text-transform: uppercase !important;
    text-decoration:none !important;

}

.fc-list-day-cushion{
    background-color: #313635 !important;
}


.fc-daygrid-day-number{
    color:#313131 !important;
}
.fc-timegrid-col , .fc-timegrid-axis{
    font-weight:bold !important;
}

.fc-toolbar-title{
        font-size:1.6rem !important;
        margin-right:-6rem !important;
        margin-bottom:2rem !important;
        font-weight:thin !important;
        letter-spacing:-.1rem !important;
}

.fc-prev-button, .fc-next-button {
    background-color: #919293 !important;
    border-color: #919293 !important;
    color: #313635 !important; 
}


/* Styles pour les boutons du header survolés */
.fc-prev-button:hover {
    background-color: #919293 !important;
    border-color: #919293 !important;
    color: #313635 !important; 
     transition: 0.5s;
    transform: scale(1.1);
    border-radius:5px !important;
}

.fc-next-button:hover {
    background-color: #919293 !important;
    border-color: #919293 !important;
    color: #FFFFFF !important; 
     transition: 0.5s;
    transform: scale(1.1);
    border-radius:5px !important;
}
.fc-next-button{
    color:black !important;
}

.fc-prev-button{
    color: white !important;
}

.fc-listWeek-button, .fc-timeGridWeek-button,  .fc-dayGridMonth-button{
    background-color:#ea5b0c !important;
    font-style: italic !important;
}

.fc-listWeek-button:hover, .fc-timeGridWeek-button:hover,  .fc-dayGridMonth-button:hover{
   background-color: #313635 !important;
    border-color: #919293 !important;
    color: #FFFFFF !important; 
    transition: 0.5s;
    transform: scale(1.1);
    border-radius:5px !important;
}

..fc-listWeek-button{
    border-right: 1px solid #FFFFFF !important;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
  color: #FFFFFF;
}

.hero-header {
  background-color: #313635;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  display:flex;
  justify-content: center;
  align-items: center;
border-top:1px solid #919293;
}

.fc-scrollgrid-sync-table{
    padding: 150px !important;
}

.codecouleur{
    width:33.33% !important;
    
}

.couleurs{
    margin-top:2rem !important;
    margin-bottom:-3rem !important;
    margin-left:5rem !important;
    width:30%;
}

.btnadd{
    margin: 2.5rem 5.8rem -3rem 0;
}

.lineee{
    width:100%;
    height:0.1px;
    background-color:#C9C9C9;
}

</style>

<div class="hero-header">
<h1>Planning des tâches</h1>
</div>

{# MODAL #}
<div class="modal fade" id="AddEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter une tâche <i class="fas fa-clipboard-list"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      {# {{ form_start(calendarForm) }}
    <div class="form-outline mb-4">
        {{ form_label(calendarForm.title, "Genre", {'attr': {'class':'form-label'}}) }}
        {{ form_widget(calendarForm.title, {'attr': {'class':'form-control form-control-lg'}}) }}
        {{ form_errors(calendarForm.title) }}
    </div>

    <div class="form-outline mb-4">
        {{ form_label(calendarForm.start, "Nom", {'attr': {'class':'form-label'}}) }}
        {{ form_widget(calendarForm.start, {'attr': {'class':'form-control form-control-lg'}}) }}
        {{ form_errors(calendarForm.start) }}
    </div>

    <div class="form-outline mb-4">
        {{ form_label(calendarForm.end, 'Prénom', {'attr': {'class':'form-label'}}) }}
        {{ form_widget(calendarForm.end, {'attr': {'class':'form-control form-control-lg'}}) }}
        {{ form_errors(calendarForm.end) }}
    </div>

    <div class="form-outline mb-4">
        {{ form_label(calendarForm.description, 'Adresse Mail', {'attr': {'class':'form-label'}}) }}
        {{ form_widget(calendarForm.description, {'attr': {'class':'form-control form-control-lg'}}) }}
        {{ form_errors(calendarForm.description) }}
    </div>

    <div class="form-outline mb-4">
        {{ form_label(calendarForm.all_day, 'Mot de passe', {'attr': {'class':'form-label'}}) }}
        {{ form_widget(calendarForm.all_day, {'attr': {'class':'form-control form-control-lg'}}) }}
        {{ form_errors(calendarForm.all_day) }}
    </div>

    <div class="form-outline mb-4">
        {{ form_label(calendarForm.background_color, 'Numéro de téléphone', {'attr': {'class':'form-label'}}) }}
        {{ form_widget(calendarForm.background_color, {'attr': {'class':'form-control form-control-lg'}}) }}
        {{ form_errors(calendarForm.background_color) }}
    </div>

    <div class="form-outline mb-4">
        {{ form_label(calendarForm.isValidated, 'Numéro de téléphone', {'attr': {'class':'form-label'}}) }}
        {{ form_widget(calendarForm.isValidated, {'attr': {'class':'form-control form-control-lg'}}) }}
        {{ form_errors(calendarForm.isValidated) }}
    </div>


                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-block btn-lg gradient-custom-4 text-light text-bg-primary">S'enregistrer</button>
                </div>
                {{ form_end(calendarForm) }} #}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
    <button type="button" class="btn text-bg-warning text-light">Ajouter</button>
      </div>
    </div>
  </div>
</div>


<div class="couleurtask d-flex justify-content-between">
<div class=" couleurs d-flex text-center">
  <div class="codecouleur"><i class="text-danger fas fa-circle"></i> Tâche à faire</div>
  <div class="codecouleur"><i class="text-success fas fa-circle"></i> Tâche terminée</div>
  <div class="codecouleur"><i class="text-black fas fa-circle"></i> Tâche récurrente</div>
</div>
{% if is_granted('ROLE_ADMIN') %}
<button type="button" class="btn text-bg-warning text-light btnadd" data-toggle="modal" data-target="#AddEvent">
Créer une tâche</button>
{% endif %}
</div>




{# MODAL POUR LES TACHES #}
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h2 class="modal-title orangename" id="eventModalLabel"></h2>
      </div>
      <div class="lineee"></div>
      <div class="modal-body d-flex flex-column text-left mx-auto">
        <p>Date: <span id="eventDate"></span></p>
        <p>Description: <span id="eventDescription"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


{# Calendrier des tâches #}
<div id="calendrier"></div>



{% endblock %}

{% block javascripts %}



<script>


window.onload = () => {
    let calendarElt = document.querySelector('#calendrier');

    let calendar = new FullCalendar.Calendar(calendarElt, {
        themeSystem: 'bootstrap',
        initialView: 'listWeek',
        locale: 'fr', 
        allDayText: 'Jour',
        timeZone: 'Europe/Paris',
        buttonText: {
            month: 'Planning du mois',
            list: 'Liste des tâches',
            week: 'Tableau semaine'
        },
        headerToolbar: {
            start: 'title',
            center: 'listWeek,timeGridWeek,dayGridMonth',
            end: 'prev,next',
        },
        editable: true,
        slotMinTime: '08:00:00',
        slotMaxTime: '23:59:00',
        selectable: true,
        eventResizableFromStart: true,
         events: {{ data|raw }},
    })

    calendar.on('eventClick', (e) => {
        window.location.href = `/calendar/${e.event.id}/edit`;
    });


    calendar.on('eventChange', (e) => {
        let url = `/api/${e.event.id}/edit`;
        let donnees = {
            "title": e.event.title,
            "description": e.event.extendedProps.description,
            "start": e.event.start,
            "end": e.event.end,
            "backgroundColor": e.event.backgroundColor,
            "allDay": e.event.allDay,
            "isValidated": e.event.extendedProps.isValidated
        }
        let xhr = new XMLHttpRequest();

        xhr.open("PUT", url);
        xhr.send(JSON.stringify(donnees));
    })

    calendar.render();
}
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js"></script>




{% endblock %}