{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {% for flash_success in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash_success }}</div>
    {% endfor %}

<style>
.backgroundimg{
    background-size: cover;
}
</style>



    <section class="vh-100 bg-image backgroundimg" style="background-image: url('https://thumbs.dreamstime.com/b/abstract-orange-background-flier-banner-wallpaper-cover-business-card-envelope-many-more-181589516.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5"><i>Création de compte</i></h2>

              

                {{ form_start(registrationForm) }}

                <div class="form-outline mb-4">
                {{ form_label(registrationForm.username, 'Pseudo', {'attr': {'class':'form-label'}}) }}
                {{ form_widget(registrationForm.username, {'attr': {'class':'form-control form-control-lg'}}) }}
                {{ form_errors(registrationForm.username) }}
                </div>

                <div class="form-outline mb-4">
                {{ form_label(registrationForm.nom, "Nom", {'attr': {'class':'form-label'}}) }}
                {{ form_widget(registrationForm.nom, {'attr': {'class':'form-control form-control-lg'}}) }}
                {{ form_errors(registrationForm.nom) }}
                </div>

                <div class="form-outline mb-4">
                {{ form_label(registrationForm.prenom, 'Prénom', {'attr': {'class':'form-label'}}) }}
                {{ form_widget(registrationForm.prenom, {'attr': {'class':'form-control form-control-lg'}}) }}
                {{ form_errors(registrationForm.prenom) }}
                </div>

                <div class="form-outline mb-4">
                {{ form_label(registrationForm.telephone, 'Numéro de téléphone', {'attr': {'class':'form-label'}}) }}
                {{ form_widget(registrationForm.telephone, {'attr': {'class':'form-control form-control-lg'}}) }}
                {{ form_errors(registrationForm.telephone) }}
                </div>

                <div class="form-outline mb-4">
                {{ form_label(registrationForm.email, 'Adresse Mail', {'attr': {'class':'form-label'}}) }}
                {{ form_widget(registrationForm.email, {'attr': {'class':'form-control form-control-lg'}}) }}
                {{ form_errors(registrationForm.email) }}
                </div>

                <div class="form-outline mb-4">
                {{ form_label(registrationForm.plainPassword, 'Mot de passe', {'attr': {'class':'form-label'}}) }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class':'form-control form-control-lg'}}) }}
                {{ form_errors(registrationForm.plainPassword) }}
                </div>
 
                <div class="form-check d-flex justify-content-center mb-5">
                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class':'form-check-input me-2'}}) }}
                  <label class="form-check-label" for="form2Example3g">
                    J'accepte les <a href="#!" class="text-body"><u>Conditions d'utilisation</u></a> et la <a href="#!" class="text-body"><u>Politique de confidentialité.</u></a>
                  </label>
                  {{ form_errors(registrationForm.agreeTerms) }}
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-block btn-lg gradient-custom-4 text-light text-bg-warning">S'enregistrer</button>
                </div>
                {{ form_end(registrationForm) }}

                <p class="text-center text-muted mt-5 mb-0">Vous avez déjà un compte? 
                <a href="https://127.0.0.1:8000/login"
                    class="fw-bold text-body"><u><i>Se connecter</i></u></a></p>

              

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

  



