{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
   font-family: 'Poppins', sans-serif;   
}
.bcggrey{
  background-color:#535353;
  width:100%;
  margin: 3rem auto 1rem auto;
  display: flex;
  justify-content: center;
}
.admin-page-title{
    text-align: center;
    font-style:italic;
}

.logoalliance{
  width:20rem;
  border:none;
}

.backgroundimg{
    background-size: cover;
    height:50rem;
    color:black
}

.text-bg-warning{
  background-color:#ea5b0c !important;
}

.btnbord{
    border:none !important;
    padding: 0.5rem 0 !important;
}

.btnbordleft{
    border-radius:3px 0 0 3px !important;
}

.btnbordright{
    border-radius:0 3px 3px 0 !important;
}

.btnbordalone{
    border-radius:3px !important;
}

.btnbordalone:hover{
    background-color: #313635 !important;
    border-color: #919293 !important;
}

.btnbord:hover{
    color: #FFFFFF !important; 
    transition: 0.5s;
    transform: scale(1.1);
    border-radius:5px !important;
}
h5{
    color:black;
}
</style>

<section>
    <div class="bcggrey px-2 py-2 mt-5">
    <img class="logoalliance" src="https://alliance-digital.fr/wp-content/uploads/2021/09/Alliance-Digital-Logo-teste-2-2048x355.png">
    </div>


   <section class="bg-image backgroundimg" style="background-image: url('https://thumbs.dreamstime.com/b/orange-gradient-background-modern-clean-background-copy-space-blank-background-design-cover-power-point-banner-181589490.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container-lg container-xl h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-10 ">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-dark text-center mb-5"><i>Espace d'administration</i></h2>

              <div class="row">
                <div class="col-md-4 col-xl-4 mx-auto">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><i class="fas fa-user"></i> Utilisateurs</h5>
                      <p class="card-text">Administration des utilisateurs.</p>
                    </div>
                    <div class="d-flex justify-content-center">
                         <a href="https://127.0.0.1:8000/admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CUserCrudController" class="text-center btnbord btnbordleft text-light text-bg-warning mr-3 w-50">Liste des utilisateurs</a>
                         <a href="https://127.0.0.1:8000/admin?crudAction=new&crudControllerFqcn=App%5CController%5CAdmin%5CUserCrudController&referrer=https://127.0.0.1:8000/admin?crudAction%3Dindex%26crudControllerFqcn%3DApp%255CController%255CAdmin%255CUserCrudController" class="text-center btnbord btnbordright btn-secondary w-50">Créer un utilisateur</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-xl-4 mx-auto">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><i class="fas fa-clipboard-list"></i> Tâches</h5>
                      <p class="card-text">Administration des tâches.</p>
                    </div>
                    <div class="d-flex justify-content-between">
                      <a href="https://127.0.0.1:8000/admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CCalendarCrudController" class="text-center btnbord btnbordleft text-light text-bg-warning mr-3 w-50">Listes des tâches</a>
                      <a href="https://127.0.0.1:8000/admin?crudAction=new&crudControllerFqcn=App%5CController%5CAdmin%5CCalendarCrudController&referrer=https://127.0.0.1:8000/admin?crudAction%3Dindex%26crudControllerFqcn%3DApp%255CController%255CAdmin%255CCalendarCrudController" class="text-center btnbord btnbordright btn-secondary w-50">Créer une tâche</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-xl-4 mx-auto">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><i class="fas fa-calendar-days"></i> Planning</h5>
                      <p class="card-text">Administration du planning.</p>
                    </div>
                    <div class="d-flex ">
                      <a href="{{ path('app_home') }}" class="text-center btnbord btnbordalone btn-secondary w-100">Afficher le planning</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





  




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/9e6e21bdcc.js" crossorigin="anonymous"></script>
{% endblock %}

