{% extends 'base.html.twig' %}

{% block title %}Modifier un événement{% endblock %}


{% block body %}
    {{include("navbar.html.twig")}}

       
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.backgroundimg{
    background-size: cover;
}

.logoalliance{
  width:15rem;
}

.bcggrey{
  background-color:#535353;
  width:100%;
  padding: 3rem 0 !important;
  display: flex;
  justify-content: center;
}

.text-bg-warning{
  background-color:#ea5b0c !important;
}

.hoverbtn:hover{
  background-color:#535353 !important;
}

.mdpforgotten{
  color:#ea5b0c;
  text-decoration: none;
  font-style:italic !important;
}

.mdpforgotten:hover{
  color:#313635;
}

.bargrey{
    width:100%;
    height:1px;
    background-color:grey;
    opacity:0.4;
    margin-bottom:20px;
}

</style>


    <section class="vh-100 bg-image backgroundimg"
  style="background-image: url('https://thumbs.dreamstime.com/b/orange-gradient-background-modern-clean-background-copy-space-blank-background-design-cover-power-point-banner-181589490.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body px-5 py-2">
              <h2 class=" text-center my-5"><i><strong>Modifier l'état de la tâche</strong></i></h2>
              <div class="bargrey"></div>

      
            
    <div class="card-body">
    {{ form_start(form) }}

    
    <div class="form-outline mb-4">
        {{ form_label(form.isValidated, "La tâche est-elle effectuée?", {'attr': {'class':'form-label'}}) }}
        {{ form_widget(form.isValidated, {'attr': {'class':'d-flex flex-column btn btn-outline-warning'}}) }}
        {{ form_errors(form.isValidated) }}
    </div>

    <div class="form-outline mb-4">
        {{ form_label(form.background_color, "Etat :", {'attr': {'class':'form-label'}}) }}
        {{ form_widget(form.background_color, {'attr': {'class':'form-control form-control-lg'}}) }}
        {{ form_errors(form.background_color) }}
    </div>

    <div class="form-outline mb-4">
        {{ form_label(form.description, "Description :", {'attr': {'class':'form-label'}}) }}
        {{ form_widget(form.description, {'attr': {'class':'form-control form-control-lg'}}) }}
        {{ form_errors(form.description) }}
    </div>

<div class="d-flex justify-content-center">
    <button class="btn btn-block btn-lg gradient-custom-4 px-5 text-light text-bg-warning mt-4 hoverbtn" type="submit">
        Valider
    </button>
    </div>
        {{ form_end(form) }}
            </div>
        </div>
    
    <div class="bcggrey px-2 pt-2 mt-5">
    <img class="logoalliance btn mx-3" src="https://alliance-digital.fr/wp-content/uploads/2021/09/Alliance-Digital-Logo-teste-2-2048x355.png">
    </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
