<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

</style>
<style type="text/css">

.profile{
  width:1.8rem;
  height:1.6rem;
  margin-right:0.4rem;
}

.logoalliance{
  width:15rem;
   margin: -1.5rem 2.5rem -1.5rem 1rem;
}

nav{
  font-family: 'Poppins', sans-serif;
  font-weight:300;
  font-size:1.1rem;
  background-color:#313635;
}

button{
  margin-left:-0.5rem !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight:300 !important;
  font-size:1.1rem !important;
}

li:hover{
  transition:0.5s !important;
  transform: scale(1.1);
}

.input-group {
  height: 50px !important;
  margin-bottom: 0 !important;
}

.bcggrey{
  background-color:#535353;
  width:100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}



</style>

{# MODAL PROFILE #}
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-center" id="exampleModalCenterTitle"><span class = "orangename"> {{app.user ? app.user.prenom}} {{app.user ? app.user.nom}} </h1>
      </div>
      <div class="modal-body">
     
        
        
            <div class="input-group mb-3 mt-3">
              <span class="input-group-text"><i class="fas fa-user-secret"></i></span>
              <div class="form-control form-control-lg">{{app.user.username}}</div>
            </div>
              
            <div class="input-group mb-3 mt-3">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
              <div class="form-control form-control-lg">{{app.user.email}}</div>
            </div>

             <div class="input-group mb-3 mt-3">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
              <div class="form-control form-control-lg">{{app.user.telephone}}</div>
            </div>
            
      </div>
      <div class="modal-footer">
      <div class="bcggrey px-5">
    <img class="logoalliance btn" src="https://alliance-digital.fr/wp-content/uploads/2021/09/Alliance-Digital-Logo-teste-2-2048x355.png">
    </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg border-primary-subtle p-3">
  <div class="container-fluid">
    <a class="navbar-brand text-primary" href="{{ path('app_home') }}"><img class="logoalliance" src="https://alliance-digital.fr/wp-content/uploads/2021/09/Alliance-Digital-Logo-teste-2-2048x355.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       {% if is_granted('ROLE_USER') %}
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="{{ path('app_home')}}">Accueil</a>
        </li>
        
       {% endif %}
      {% if is_granted('ROLE_ADMIN') %}
      <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="{{ path('admin')}}">Panel d'Administration</a>  
      </li>
      {% endif %}
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    {% if app.user %}
                        <li class="nav-item">
                          <button type="button" class="btn text-light" data-toggle="modal" data-target="#exampleModalCenter">
                     <img class="profile" src="https://i.ibb.co/T0ZMgzw/pngwing-com.png">Mon compte</button>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-light" aria-current="page" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active text-light" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-light" aria-current="page" href="{{ path('app_register') }}">M'inscrire</a>
                        </li>
                    {% endif %}
                </ul>
      </ul>
    </div>
  </div>
</nav>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js"></script>