{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation du mot de passe envoyé{% endblock %}

{% block body %}

    <style>
    .backgroundimg{
    background-size: cover;
    }

    h2{
      line-height:3.5rem;
    }
    
    .orange{
      color:#ea5b0c;
      font-style: italic;
    }
    .btnstyle{
        text-decoration:none;
    }
     .form-control:focus{border-color: #FFAE00;  box-shadow: none; -webkit-box-shadow: none;} 
      .has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;}
     </style>


 <section class="vh-100 bg-image backgroundimg"
  style="background-image: url('https://thumbs.dreamstime.com/b/abstract-orange-background-flier-banner-wallpaper-cover-business-card-envelope-many-more-181589516.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class=" text-center mb-5"><i>E-mail de réinitialisation <br>envoyé !</i></h2>
    <p>
       Un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
        Ce lien expirera dans 1 heure.
    </p>
    <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a class="orange" href="{{ path('app_forgot_password_request') }}">Réessayer de nouveau</a>.</p>

    <div class="d-flex justify-content-center">
                  <button class="btn px-5 py-2 text-bg-warning mt-4"><a class="text-light btnstyle " href="{{ path('app_login') }}">Retourner à la page de connexion</a></button>
                </div>

                
{% endblock %}
