{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de votre mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<style>
    .backgroundimg{
    background-size: cover;
}

.hoverbtn:hover{
  background-color:#535353 !important;
}
</style>


    <section class="vh-100 bg-image backgroundimg"
  style="background-image: url('https://thumbs.dreamstime.com/b/abstract-orange-background-flier-banner-wallpaper-cover-business-card-envelope-many-more-181589516.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class=" text-center mb-5">Réinitialiser votre mot de passe</h2>

        {{ form_start(requestForm) }}
        

                 <div class="input-group mb-3">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                {{ form_widget(requestForm.email, {'attr': {'class':'form-control form-control-lg'}}) }}
                {{ form_errors(requestForm.email) }}
                </div>
        <div>
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </small>
        </div>
        <div class="justify-content-center text-center">
        <button class="hoverbtn btn btn-block btn-lg gradient-custom-4 text-light text-bg-warning mt-4
        px-4">Envoyer</button>
        </div>

        <div class="bcggrey px-2 py-2 mt-5">
    <img class="logoalliance btn" src="https://alliance-digital.fr/wp-content/uploads/2021/09/Alliance-Digital-Logo-teste-2-2048x355.png"></div>
    {{ form_end(requestForm) }}
{% endblock %}
