{% extends 'base.html.twig' %}

{% block title %}Reinitialisation de votre mot de passe{% endblock %}

{% block body %}
    <style>
    .backgroundimg{
    background-size: cover;
    }

     </style>
     
    <section class="vh-100 bg-image backgroundimg"
  style="background-image: url('https://thumbs.dreamstime.com/b/abstract-orange-background-flier-banner-wallpaper-cover-business-card-envelope-many-more-181589516.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class=" text-center mb-5"><i>Choisissez votre nouveau mot de passe</i></h2>

    {{ form_start(resetForm) }}
    
        <div class="form-outline mb-4">
                {{ form_row(resetForm.plainPassword) }}
                </div>
                <div class="d-flex justify-content-center">
        <button class="btn text-light text-bg-warning text-center">Réinitialiser</button>
        </div>
    {{ form_end(resetForm) }}
{% endblock %}
