{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connectés en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}
    
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.backgroundimg{
    background-size: cover;
}

.logoalliance{
  width:15rem;
}

.bcggrey{
  background-color:#535353;
  width:100%;
  margin: 3rem auto 1rem auto;
  display: flex;
  justify-content: center;
}

.text-bg-warning{
  background-color:#ea5b0c !important;
}

.hoverbtn:hover{
  background-color:#535353 !important;
}

.mdpforgotten{
  color:#ea5b0c;
  text-decoration: none;
  font-style:italic !important;
}

.mdpforgotten:hover{
  color:#313635;
}

</style>


    <section class="vh-100 bg-image backgroundimg"
  style="background-image: url('https://thumbs.dreamstime.com/b/orange-gradient-background-modern-clean-background-copy-space-blank-background-design-cover-power-point-banner-181589490.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5"><i>Espace de connexion</i></h2>

     <div class="input-group mb-3">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" placeholder="Pseudo" required autofocus>
     </div>
     
     <div class="input-group mb-3">
        <span class="input-group-text"><i class="fas fa-lock"></i></span>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Mot de passe" required>
     </div>

   <div class="d-flex mt-2">
    <a aria-current="page" class="mdpforgotten hovergrey" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié?</a>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

     <div class="d-flex justify-content-center">
    <button class="btn btn-block btn-lg gradient-custom-4 text-light text-bg-warning mt-4 hoverbtn" type="submit">
        Se connecter
    </button>
    </div>
    <div class="bcggrey px-2 py-2 mt-5">
    <img class="logoalliance btn" src="https://alliance-digital.fr/wp-content/uploads/2021/09/Alliance-Digital-Logo-teste-2-2048x355.png">
    </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</form>
{% endblock %}
